<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="showMenu" temporary absolute width="200">
      <v-list style="border-bottom: 1px solid grey">
        <h3 class="ml-4">Главное меню</h3>
        <!--<v-list-tile>-->
        <!--<v-list-tile-content>-->
        <!--Главное меню-->
        <!--</v-list-tile-content>-->
        <!--</v-list-tile>-->
      </v-list>

      <v-list>
        <v-btn depressed style="width: 100%" to="/">Главная</v-btn>
        <v-btn depressed style="width: 100%" to="profile_form">Льготы</v-btn>
        <v-btn depressed style="width: 100%" to="info">Игфо</v-btn>
      </v-list>
    </v-navigation-drawer>

    <div>
      <alarms ref="alarms" />

      <v-toolbar dense style="background: #0e99c3">
        <v-btn
          v-if="$vuetify.breakpoint.xs"
          title="Меню"
          icon
          class="pa-0"
          @click="showMenu = true"
        >
          <v-icon large class="mr-2">menu</v-icon>
        </v-btn>

        <v-toolbar-items v-else>
          <!--<v-btn @click="$vuetify.goTo(0)" icon color="black">-->
          <!--<v-icon large>home</v-icon>-->
          <!--</v-btn>-->
          <v-btn
            to="/"
            flat
            depressed
            style="min-width: 200px; background: #0e99c3; color: white;"
          >
            Главная
          </v-btn>
          <v-btn
            to="profile_form"
            flat
            depressed
            style="min-width: 200px; background: #0e99c3; color: white;"
          >
            Льготы
          </v-btn>
          <v-btn
            to="info"
            flat
            depressed
            style="min-width: 200px; background: #0e99c3; color: white;"
          >
            Инфо
          </v-btn>
        </v-toolbar-items>

        <v-spacer />

        <notifications />
        <v-icon v-if="$$user.loggedIn" @click="logout">logout</v-icon>
      </v-toolbar>
    </div>

    <!--<alarms />-->
    <v-content>
      <div>
        <nuxt />
      </div>
    </v-content>
    <v-footer
      color="white" app
      style="cursor: pointer" >
      <v-spacer /><a href="https://www.gosuslugi.ru" target="_blank">
      <div style="height: 80px;">
        <v-img src="/gosuslugi.png" style="800px"> </v-img>
      </div></a>
      <v-spacer />
    </v-footer>
  </v-app>
</template>

<script>
import Alarms from '@/components/common/Alarms'
import Notifications from '@/components/notifications/Notifications'

export default {
  components: { Alarms, Notifications },
  props: {
    source: {
      type: String,
      default: ''
    }
  },
  data: () => ({
    drawer: false,
    menuItems: ['Главная', 'Льготы', 'Инфо'],
    showMenu: false,
    tab: null
  }),
  methods: {
    logout() {
      this.$$auth.logout()
      // this.$store.commit('auth/logout')
    }
  }
}
</script>
