<template>
  <div>
    <v-expansion-panels :accordion="false" multiple>
      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-layout>
            <v-flex xs11>
              <h3>Пенсия</h3>
            </v-flex>
            <v-flex xs1>
              <v-spacer />
              <v-chip color="primary"
                ><strong>{{
                  value.pension ? value.pension.length : 0
                }}</strong></v-chip
              >
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-for="(ex, i) in value.pension" :key="i">
            <h4>{{ ex.name }}</h4>
            <span>{{ ex.description }}</span>
            <div v-if="ex.name === 'Транспортные льготы для пенсионеров'">
              Для этой льготы доступен курс обучения:
              <v-btn @click="openSite('relax')" color="success">
                Перейти
              </v-btn>
            </div>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-layout>
            <v-flex xs11>
              <h3>Жилищные условия</h3>
            </v-flex>
            <v-flex xs1>
              <v-spacer />
              <v-chip color="primary">
                <strong>{{
                  value.livingConditions ? value.livingConditions.length : 0
                }}</strong>
              </v-chip>
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-for="(ex, i) in value.livingConditions" :key="i">
            <h4>{{ ex.name }}</h4>
            <span>{{ ex.description }}</span>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-layout>
            <v-flex xs11>
              <h3>Семейное положение</h3>
            </v-flex>
            <v-flex xs1>
              <v-spacer />
              <v-chip color="primary"
                ><strong>{{
                  value.familyState ? value.familyState.length : 0
                }}</strong></v-chip
              >
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-for="(ex, i) in value.familyState" :key="i">
            <h4>{{ ex.name }}</h4>
            <span>{{ ex.description }}</span>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-layout>
            <v-flex xs11>
              <h3>Дети</h3>
            </v-flex>
            <v-flex xs1>
              <v-spacer />
              <v-chip color="primary"
                ><strong>{{
                  value.children ? value.children.length : 0
                }}</strong></v-chip
              >
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-for="(ex, i) in value.children" :key="i">
            <h4>{{ ex.name }}</h4>
            <span>{{ ex.description }}</span>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-layout>
            <v-flex xs11>
              <h3>Инвалидность</h3>
            </v-flex>
            <v-flex xs1>
              <v-spacer />
              <v-chip color="primary">
                <strong>
                  {{ value.disability ? value.disability.length : 0 }}
                </strong>
              </v-chip>
            </v-flex>
          </v-layout>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-for="(ex, i) in value.disability" :key="i">
            <h4>{{ ex.name }}</h4>
            <br />
            <span>{{ ex.description }}</span>
            <br />
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>

      <v-expansion-panel>
        <v-expansion-panel-header>
          <v-layout
            ><v-flex xs11>
              <h3>Работа</h3>
            </v-flex>
            <v-flex xs1>
              <v-spacer />
              <v-chip color="primary"
                ><strong>{{
                  value.work ? value.work.length : 0
                }}</strong></v-chip
              >
            </v-flex></v-layout
          >
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <div v-for="(ex, i) in value.work" :key="i">
            <h4>{{ ex.name }}</h4>
            <span>{{ ex.description }}</span>
          </div>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
<script>
export default {
  name: 'FormOutput',
  props: {
    value: {
      type: Object,
      default: () => ({
        pension: null,
        livingConditions: null,
        familyState: null,
        children: null,
        disability: null,
        work: null
      })
    }
  },
  data() {
    return {
      output: this.value
    }
  },
  methods: {
    openSite(name) {
      localStorage.service = name
    }
  }
}
</script>
