<template>
  <div>
    <v-form ref="form" v-model="valid">
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card>
              <v-toolbar dark color="primary">
                <v-toolbar-title>Регистрация</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                <v-card-text>
                  <v-text-field
                    v-model="profile.login"
                    label="Логин"
                    :rules="[...rules]"
                  />
                  <v-text-field
                    v-model="profile.password"
                    label="Пароль"
                    type="password"
                    :rules="[...rules]"
                  />
                  <v-text-field
                    v-model="password"
                    :rules="[
                      text =>
                        text === profile.password || 'пароли не совпадают',
                      ...rules
                    ]"
                    label="Повторите пароль"
                    type="password"
                  />
                </v-card-text>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
  </div>
</template>
<script>
export default {
  name: 'RegistrationForm',
  props: {
    value: {
      type: Object,
      default: () => ({
        login: null,
        password: null
      })
    }
  },
  data() {
    return {
      profile: this.value,
      password: '',
      valid: false,
      rules: [
        text => (text && text.length !== 0) || 'Поле не может быть пустым'
      ]
    }
  },
  watch: {
    profile: {
      handler(newVal) {
        this.$emit('input', newVal)
        this.$refs.form.validate()
      },
      deep: true
    },
    value: {
      handler(newVal) {
        this.profile = newVal
        this.$refs.form.validate()
      }
    },
    valid(newVal) {
      this.$emit('valid', newVal)
    }
  }
}
</script>
