<template>
  <div>
    <h1>Льготы</h1>
    <div>Зарегистрируйтесь для получения уведомлений</div>
    <h2 style="">Заполните поля ниже</h2>
    <h3>Льготы</h3><h3>Льготы</h3><h3>Льготы</h3><h3>Льготы</h3><h3>Льготы</h3>
  </div>

</template>

<script>
  export default {
    name: "benefits"
  }
</script>

<style scoped>

</style>
