<template>
  <div>
    <!-- <notifications
      group="commonNotification"
      :max="1"
      position="top right"
      width="450px"
    /> -->

    <!--<v-parallax style="min-height: 3000px" src="http://baynbash.ru/wp-content/uploads/2018/01/985579237.jpg"></v-parallax>-->

    <!--<div style="width: 100wh; min-height: 100vw">-->
    <!--<v-parallax src="https://cdn.vuetifyjs.com/images/parallax/material.jpg"></v-parallax>-->
    <!--</div>-->

    <!--Кнопки управления-->
    <v-layout
      class="justify-center ma-0 pa-0 mt-3"
      :class="{ wrap: isComputer || !littleButtons }"
    >
      <!--КНОПКА ЛЬГОТЫ-->
      <v-flex
        :class="{ xs12: !littleButtons, xs6: littleButtons }"
        class="mr-2"
        md5
        mb-3
        style="display: flex;"
      >
        <v-spacer />
        <v-hover v-slot:default="{ hover }" open-delay="30">
          <v-btn
            :elevation="hover || showBenefits ? 3 : 10"
            :class="{
              selectedButton: !littleButtons && isComputer,
              nonSelectedButton: littleButtons,
              selectedButtonPhone: !littleButtons && !isComputer
            }"
            class="mainButton"
            style="border-radius: 15px; overflow: hidden"
            @click="clickBenefitsButton"
          >
            <v-img
              :class="{
                selectedButton: !littleButtons,
                nonSelectedButton: littleButtons,
                hideOpacity: !isComputer && littleButtons
              }"
              class="mainButton"
              src="/back.jpg"
            >
            </v-img>
            <span
              :class="{
                selectedButtonText: !littleButtons && isComputer,
                nonSelectedButtonText: littleButtons && isComputer,
                selectedButtonTextPhone: !littleButtons && !isComputer,
                nonSelectedButtonTextPhone: littleButtons && !isComputer
              }"
              class="mainButton"
              style="position: absolute; color: white;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight: bold"
              >Мои льготы</span
            >
          </v-btn>
        </v-hover>
      </v-flex>

      <v-flex xs0 md1>
        <v-spacer />
      </v-flex>

      <!--КНОПКА ПОМОЩЬ-->
      <v-flex :class="{ xs12: !littleButtons, xs6: littleButtons }" md5>
        <v-hover v-slot:default="{ hover }" open-delay="30">
          <v-btn
            :elevation="hover || showHelp ? 3 : 10"
            :class="{
              selectedButton: !littleButtons && isComputer,
              nonSelectedButton: littleButtons,
              selectedButtonPhone: !littleButtons && !isComputer
            }"
            class="mainButton"
            style="border-radius: 15px; overflow: hidden"
            @click="clickHelpButton"
          >
            <v-img
              :class="{
                selectedButton: !littleButtons,
                nonSelectedButton: littleButtons,
                hideOpacity: !isComputer && littleButtons
              }"
              class="mainButton"
              style="-webkit-transform: scaleX(-1); transform: scaleX(-1);"
              src="/back.jpg"
            ></v-img>
            <span
              :class="{
                selectedButtonText: !littleButtons && isComputer,
                nonSelectedButtonText: littleButtons && isComputer,
                selectedButtonTextPhone: !littleButtons && !isComputer,
                nonSelectedButtonTextPhone: littleButtons && !isComputer,
                max: !littleButtons && !isComputer
              }"
              class="mainButton"
              style="position: absolute; color: white;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-weight: bold;
                word-break: break-all;"
              >Путеводитель
            </span>
          </v-btn>
        </v-hover>
      </v-flex>
    </v-layout>

    <!--Льготы-->
    <profile-form v-if="showBenefits"></profile-form>

    <!--ХЕЛП-->
    <info v-if="showHelp"></info>
  </div>
</template>

<script>
import Benefits from './benefits'
import Info from './info'
import { allUsers } from '~/graphql/users/queries'
import ProfileForm from "./profile_form"

export default {
  components: {Info, ProfileForm},
  comments: {
    ProfileForm,
    Benefits,
    Info
  },
  // components: {ProfileForm, Info, Benefits },
  data() {
    return {
      allUsers: [],
      littleButtons: false,
      showBenefits: false,
      showHelp: false
    }
  },
  apollo: {
    allUsers: {
      query: allUsers,
      update(data) {
        return data.allUsers
      },
      prefetch: false
    }
  },
  // mounted() {},
  computed: {
    isComputer() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return false
        case 'sm':
          return false
        case 'md':
          return true
        case 'lg':
          return true
        case 'xl':
          return true
      }
    }
  },
  methods: {
    clickBenefitsButton() {
      // window.open('/download_file/')
      if (this.littleButtons) {
        this.showBenefits = false
      } else {
        this.showBenefits = true
      }
      this.littleButtons = !this.littleButtons
      this.showHelp = false
    },

    clickHelpButton() {
      if (this.littleButtons) {
        this.showHelp = false
      } else {
        this.showHelp = true
      }
      this.littleButtons = !this.littleButtons
      this.showBenefits = false
    },

    test() {
      this.$apollo
        .query({
          query: allUsers,
          fetchPolicy: 'no-cache'
        })
        .then(({ data }) => {
          this.allUsers = data.allUsers
        })
    },
    notif() {}
  }
}
</script>

<style>
.hideOpacity {
  opacity: 0;
}
.selectedButtonPhone {
  height: 200px !important;
  width: 850px;
}
.nonSelectedButtonPhone {
  height: 50px !important;
  width: 250px;
}

.selectedButton {
  height: 350px !important;
  width: 850px;
}
.nonSelectedButton {
  height: 50px !important;
  width: 250px;
}

.selectedButtonText {
  font-size: 48pt;
}
.nonSelectedButtonText {
  font-size: 18pt;
}

.selectedButtonTextPhone {
  font-size: 48pt;
  max-width: 360px;
  margin-top: -70px;
  white-space: normal;
}
.nonSelectedButtonTextPhone {
  font-size: 16pt;
}
.mainButton {
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.max {
  max-width: 300px;
}

.tttest {
  font-family: 'Bitter', serif;
  /*font-family: 'Times New Roman', Times, serif;*/
}
/*@import url('https://fonts.googleapis.com/css?family=Bonbon&display=swap');*/
</style>
