<template>
  <div>
    <div style="display: flex">
      <v-spacer />
      <h1>Быстрый доступ к функциям сайта</h1>
      <v-spacer />
    </div>
    <div v-if="!checkPlagin || !loadPlaginCheck" style="display: flex; background: navajowhite; min-height: 50px">
      <v-icon class="ml-3" light :class="{customLoader: loadPlaginCheck}"
      >cached
      </v-icon>

      <span
        style="margin-top: auto; margin-bottom: auto" class="ml-2"
      >Внимание: для упрощённой навигации по сайту необходимо установить плагин.
      </span>
      <v-spacer />

      <v-btn
        @click="installPlagin"
        style="margin-top: auto; margin-bottom: auto"
        class="mr-2" color="success"
      >
        Установить
      </v-btn>
    </div>
    <div>
      <div style="display: flex" class="mt-3">
        <v-spacer />
        <h2 @click="openSite('transport')" style="text-decoration: underline; cursor: pointer;" class="ml-2">
          Транспортная карта
        </h2>
        <v-spacer />
      </div>

      <div style="display: flex">
        <v-spacer />
        <div style="max-width: 700px" class="mx-3">
          Информирование о льготах на проезд в общественном транспорте. Вы узнаете
          какие льготы на проезд в общественном транспорте предоставляются в вашем регионе, оформите выплату или проездной документ.
        </div>
        <v-spacer />
      </div>

      <div style="display: flex">
        <v-spacer />
        <v-btn @click="openSite('transport')" color="success"> Перейти </v-btn>
        <v-spacer />
      </div>

    </div>


    <div>
      <div style="display: flex" class="mt-4">
        <v-spacer />
        <h2 @click="openSite('relax')" style="text-decoration: underline; cursor: pointer;" class="ml-2">
          Отдых в санатории
        </h2>
        <v-spacer />
      </div>

      <div style="display: flex">
        <v-spacer />
        <div style="max-width: 700px" class="mx-3">
          Пошаговая инструкция по оформлению записи в лечебно–профилактическое учреждение, в котором
             для лечения и профилактики заболеваний используют главным образом природные факторы.</div>
        <v-spacer />
      </div>

      <div style="display: flex">
        <v-spacer />
        <v-btn @click="openSite('relax')" color="success"> Перейти </v-btn>
        <v-spacer />
      </div>

    </div>


    <div>
      <div style="display: flex" class="mt-4">
        <v-spacer />
        <h2 @click="openSite('child')" style="text-decoration: underline; cursor: pointer;" class="ml-2">
          Запись ребёнка в детский сад
        </h2>
        <v-spacer />
      </div>

      <div style="display: flex">
        <v-spacer />
        <div style="max-width: 700px" class="mx-3">
          Помощь в получении услуги онлайн записи вашего ребёнка в детский сад. В электронном
          виде возможно не только сформировать заявление, но и отслеживать место ребенка в очереди.
        </div>
        <v-spacer />
      </div>

      <div style="display: flex">
        <v-spacer />
        <v-btn @click="openSite('child')" color="success"> Перейти </v-btn>
        <v-spacer />
      </div>
    </div>


    <div style="margin-top: 100px">
      <div style="display: flex" class="mt-4">
        <v-spacer />
        <div>
          <h3>Ближайший пенсионный фонд</h3>
          <div>просп. имени В.И. Ленина, 67А, этаж 2</div>
          <div>тел. 8 (800) 302-23-02</div>
        </div>

        <v-spacer />

        <div>
          <h3>Обучение цифровой грамотности</h3>
          <div>пр. им. Ленина, 42</div>
          <div>тел. 23-44-04</div>
        </div>

        <v-spacer />
      </div>
    </div>

  </div>
</template>

<script>
export default {
  name: "info",
  data: () => ({
    loadPlaginCheck: false
  }),
  computed: {
    checkPlagin () {
      const status = localStorage.getItem('pluginStatus')
      console.log('MYSTATUS', status)
      if (status) {
        return true
      }
      return false
    }
  },
  mounted: function () {
    this.loadPlaginCheckFunction()
  },
  methods: {
    openSite (name) {
      localStorage.service = name
    },
    installPlagin () {
    //  INSTALL THE FUCKING PLUGIN
      console.log('INSTALL...')
    },
    loadPlaginCheckFunction () {
      setTimeout(() => {
        this.loadPlaginCheck = true
      }, 3000)
    }
  }
}
</script>

<style>
  .customLoader {
    animation: loader 1s infinite;
  }
  @-moz-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @-o-keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
