<template>
  <div>
    <v-stepper v-model="e1">
      <v-stepper-header>
        <v-stepper-step :complete="e1 > 1" step="1">Анкета</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step :complete="e1 > 2" step="2">Регистрация</v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step step="3">Льготы</v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content step="1" style="min-height: calc(100vh - 212px)">
          <v-layout justify-center>
            <v-flex xs12 md6>
              <v-form v-model="valid">
                <v-expansion-panels :accordion="false" multiple>
                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Основная информация
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <base-info
                        v-model="user"
                        :residence.sync="residence"
                        :sex.sync="userForm.userProfile.sex"
                      />
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Пенсия
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <pension v-model="userForm.pensioner" />
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Работа
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <work v-model="userForm.work" />
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Дети
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <childrens v-model="userForm.children" />
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Семейное положение
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <family-state v-model="userForm.familyState.state" />
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Жилищные условия
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <living-condition v-model="userForm.livingCondition" />
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Инвалидность
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <disability v-model="userForm.disability.group" />
                    </v-expansion-panel-content>
                  </v-expansion-panel>

                  <v-expansion-panel>
                    <v-expansion-panel-header>
                      Донорство
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <donor v-model="userForm.userProfile.donor" />
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
              </v-form>
            </v-flex>
          </v-layout>
          <v-layout row pt-2 pr-2>
            <v-spacer />
            <v-btn color="primary" mx-2 @click="e1 = 2">
              Продолжить
            </v-btn>
            <v-btn text pr-2>Отмена</v-btn>
            <v-spacer />
          </v-layout>
        </v-stepper-content>

        <v-stepper-content step="2" style="min-height: calc(100vh - 212px)">
          <registration-form v-model="user" @valid="isValid" />
          <v-layout row>
            <v-spacer />
            <v-btn
              color="success"
              mx2
              :disabled="!regValid"
              @click="
                e1 = 3
                getExemption()
              "
            >
              Продолжить
            </v-btn>
            <v-btn color="primary" mx-3 text @click="clearUser()">
              Продолжить без регистрации
            </v-btn>
            <v-btn text px2>Отмена</v-btn>
            <v-spacer />
          </v-layout>
        </v-stepper-content>

        <v-stepper-content step="3" style="min-height: calc(100vh - 212px)">
          <form-output v-model="result" />
          <v-layout row>
            <v-spacer />
          </v-layout>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
import BaseInfo from '@/components/profileForms/BaseInfo'
import Pension from '@/components/profileForms/Pension'
import Work from '@/components/profileForms/Work'
import Childrens from '@/components/profileForms/Childrens'
import FamilyState from '@/components/profileForms/FamilyState'
import livingCondition from '@/components/profileForms/LivingConditions'
import Disability from '@/components/profileForms/Disability'
import Donor from '@/components/profileForms/Donor'
import { getExemption as getExemptionQuery } from '@/graphql/userForm/mutations'
import RegistrationForm from '@/components/RegistrationForm'
import FormOutput from '@/components/FormOutput'

export default {
  name: 'ProfileForm',
  components: {
    BaseInfo,
    Pension,
    Work,
    Childrens,
    FamilyState,
    livingCondition,
    Disability,
    Donor,
    RegistrationForm,
    FormOutput
  },
  data: () => ({
    valid: true,
    regValid: false,
    userForm: {
      userProfile: {
        sex: null,
        bornDate: null,
        donor: false
      },
      pensioner: {
        state: false,
        childOfWar: false
      },
      work: {
        expirience: null,
        veteranOfLabour: false,
        isWorking: false
      },
      disability: {
        group: null
      },
      familyState: {
        state: ''
      },
      livingCondition: {
        hasHouse: true,
        isNeedy: false
      },
      children: [
        {
          age: 15
        }
      ]
    },
    user: {
      firstName: '',
      lastName: '',
      patronym: '',
      login: '',
      password: ''
    },
    residence: '',
    e1: null,
    result: {}
  }),
  watch: {
    user: {
      handler(newVal) {},
      deep: true
    }
  },
  methods: {
    getExemption() {
      this.loading = true
      let user = null
      if (this.user.login.length > 0 && this.user.password.length > 0) {
        user = this.user
      }
      this.$apollo
        .mutate({
          mutation: getExemptionQuery,
          variables: { userForm: this.userForm, user: user }
        })
        .then(({ data }) => {
          console.log(data)
          this.result = data.handleUserForm.exemptions
        })
    },
    isValid(valid) {
      this.regValid = valid
    },
    clearUser() {
      this.e1 = 3
      this.user = {
        firstName: '',
        lastName: '',
        patronym: '',
        login: '',
        password: ''
      }
      this.getExemption()
    }
  }
}
</script>

<style scoped></style>
