<template>
  <div>
    <v-layout row wrap justify-center>
      <v-flex xs11 md4 px-1>
        <v-text-field v-model="fio.lastName" placeholder="Фамилия" clearable />
      </v-flex>
      <v-flex xs11 md4 px-1>
        <v-text-field v-model="fio.firstName" placeholder="Имя" clearable />
      </v-flex>
      <v-flex xs11 md4 px-1>
        <v-text-field v-model="fio.patronym" placeholder="Отчество" clearable />
      </v-flex>
    </v-layout>
    <v-divider />
    <v-layout justify-center wrap>
      <v-flex xs8 md4 px-1>
        <v-menu
          ref="menu"
          v-model="menu"
          :close-on-content-click="false"
          :return-value.sync="birthDate"
          transition="scale-transition"
          offset-y
          full-width
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="dateFormatted"
              placeholder="Дата рождения"
              prepend-icon="event"
              readonly
              clearable
              v-on="on"
              @blur="birthDate = parseDate(dateFormatted)"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="birthDate"
            no-title
            scrollable
            locale="ru"
            first-day-of-week="1"
          >
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="menu = false">Отмена</v-btn>
            <v-btn text color="primary" @click="$refs.menu.save(birthDate)"
              >Принять</v-btn
            >
          </v-date-picker>
        </v-menu>
      </v-flex>
      <v-flex xs4 md4>
        <v-select
          v-model="innerSex"
          :items="sexItems"
          item-value="sex"
          item-text="name"
        />
      </v-flex>
      <v-flex xs11 md4 px-1>
        <v-text-field v-model="innerResidence" placeholder="Город" />
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'BaseInfo',
  props: {
    value: {
      type: Object,
      default: () => ({
        firstName: '',
        lastName: '',
        patronym: ''
      })
    },
    residence: {
      type: String,
      default: ''
    },
    sex: {
      type: String,
      default: null
    }
    // birthDate: {
    //   type: String,
    //   default: () => '1970-01-01'
    // }
  },
  data() {
    return {
      birthDate: '1970-01-01',
      menu: false,
      dateFormatted: '01.01.1980',
      fio: {
        firstName: '',
        lastName: '',
        patronym: ''
      },
      innerResidence: this.residence,
      sexItems: [{ sex: 'M', name: 'Мужской' }, { sex: 'F', name: 'Женский' }],
      innerSex: this.sex
    }
  },
  watch: {
    fio: {
      handler(newVal) {
        this.$emit('input', newVal)
      },
      deep: true
    },
    value: {
      handler(newVal) {
        this.fio = newVal
      },
      deep: true
    },
    residence(newVal) {
      this.innerResidence = newVal
    },
    innerResidence(newVal) {
      this.$emit('update:residence', newVal)
    },
    birthDate(val) {
      this.dateFormatted = this.formatDate(this.birthDate)
    },
    sex(newVal) {
      this.innerSex = newVal
    },
    innerSex(newVal) {
      this.$emit('update:sex', newVal)
    }
  },
  methods: {
    parseDate(date) {
      if (!date) return null

      const [month, day, year] = date.split('.')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },

    formatDate(date) {
      if (!date) return null

      const [year, month, day] = date.split('-')
      return `${month}.${day}.${year}`
    }
  }
}
</script>
