<template>
  <div>
    <v-layout row wrap>
      <v-flex px-1 xs6 md3>
        <v-checkbox v-model="haveChildren" label="Дети" />
      </v-flex>
      <v-flex px-1 xs6 md4> </v-flex>
      <v-text-field
        v-model="childrensCount"
        :disabled="!haveChildren"
        label="Количество"
      />
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'Childrens',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      haveChildren: false,
      innerChildren: this.value,
      childrensCount: null
    }
  },
  watch: {
    value: {
      handler(newVal) {
        this.innerChildren = newVal
      },
      deep: true
    },
    innerChildren: {
      handler(newVal) {
        this.$emit('input', newVal)
      }
    },
    haveChildren(newVal) {
      if (!newVal) {
        this.childrensCount = null
      }
    },
    childrensCount(newVal) {
      const childrens = [...Array(5).keys()]
      childrens.forEach(count => {
        this.innerChildren.push({ age: 10 })
      })
    }
  }
}
</script>
