<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12 md6>
        <v-checkbox v-model="isInvalid" label="Инвалидность" />
      </v-flex>
      <v-flex xs12 md6>
        <v-select
          v-model="group"
          :items="groups"
          :disabled="!isInvalid"
          item-text="name"
          item-value="value"
        />
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'Disability',
  props: {
    value: {
      type: Number,
      default: null
    }
  },
  data() {
    return {
      group: this.value,
      groups: [
        { name: 'Группа 1', value: 1 },
        { name: 'Группа 2', value: 2 },
        { name: 'Группа 3', value: 3 },
        { name: 'Группа 4', value: 4 }
      ],
      isInvalid: false
    }
  },
  watch: {
    value(newVal) {
      this.group = newVal
    },
    group(newVal) {
      this.$emit('input', newVal)
    },
    isInvalid(newVal) {
      if (!newVal) {
        this.group = null
      }
    }
  }
}
</script>
