<template>
  <div>
    <v-layout row wrap>
      <v-checkbox v-model="donor" label="Донор" />
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'Donor',
  props: {
    value: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      donor: this.donor
    }
  },
  watch: {
    value(newVal) {
      this.donor = newVal
    },
    donor(newVal) {
      this.$emit('input', newVal)
    }
  }
}
</script>
