<template>
  <div>
    <v-layout>
      <v-flex>
        <v-select
          v-model="innerState"
          :items="familyStates"
          item-value="value"
          item-text="name"
        />
      </v-flex>
      <v-flex></v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'FamilyState',
  props: {
    value: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      familyStates: [
        { name: 'Не женат', value: 'NM' },
        { name: 'В браке', value: 'M' },
        { name: 'В разводе', value: 'D' },
        { name: 'Вдовец/Водва', value: 'W' }
      ],
      innerState: this.value
    }
  },
  watch: {
    value(newVal) {
      this.innerState = newVal
    },
    innerState(newVal) {
      this.$emit('input', newVal)
    }
  }
}
</script>
