<template>
  <div>
    <v-layout row wrap>
      <v-flex>
        <v-checkbox
          v-model="conditions.hasHouse"
          label="Имеет собственное жильё"
          :disabled="conditions.isNeedy"
        />
      </v-flex>
      <v-flex>
        <v-checkbox
          v-model="conditions.isNeedy"
          label="Нуждается в жилье"
          :disabled="conditions.hasHouse"
        />
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'LivingConditions',
  props: {
    value: {
      type: Object,
      default: () => ({
        hasHouse: null,
        isNeedy: null
      })
    }
  },
  data() {
    return {
      conditions: this.value
    }
  },
  watch: {
    value: {
      handler(newVal) {
        this.conditions = newVal
      },
      deep: true
    },
    conditions: {
      handler(newVal) {
        this.$emit('input', newVal)
      },
      deep: true
    }
  }
}
</script>
