<template>
  <div>
    <v-layout row wrap justify-center>
      <v-flex xs6 md4>
        <v-checkbox v-model="innerPension.state" label="На пенсии" />
      </v-flex>
      <v-flex>
        <v-checkbox
          v-model="innerPension.childOfWar"
          label="Ребенок войны"
          :disabled="!innerPension.state"
        />
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'Pension',
  props: {
    value: {
      type: Object,
      default: () => ({
        state: false,
        childOfWar: false
      })
    }
  },
  data() {
    return {
      innerPension: this.value
    }
  },
  watch: {
    value: {
      handler(newVal) {
        this.innerPension = newVal
      },
      deep: true
    },
    innerPension: {
      handler(newVal) {
        this.$emit('input', newVal)
      },
      deep: true
    },
    'innerPension.state'(newVal) {
      if (!newVal) this.innerPension.childOfWar = false
    }
  }
}
</script>
