<template>
  <div></div>
</template>
<script>
export default {
  name: 'Residence',
  data: () => ({
    residence: ''
  }),
  watch: {
    residence(newVal) {
      this.$emit('input', newVal)
    }
  }
}
</script>
