<template>
  <div>
    <v-layout row wrap>
      <v-flex xs6 md4>
        <v-checkbox v-model="innerWork.isWorking" label="Работаю" />
      </v-flex>
      <v-flex xs6 md4>
        <v-checkbox v-model="innerWork.veteranOfLabour" label="Ветеран труда" />
      </v-flex>
      <v-flex xs12 md4>
        <v-text-field v-model="innerWork.expirience" label="Стаж" />
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: 'Work',
  props: {
    value: {
      type: Object,
      default: () => ({
        expirience: null,
        veteranOfLabour: false,
        isWorking: false
      })
    }
  },
  data() {
    return {
      innerWork: {
        expirience: null,
        veteranOfLabour: false,
        isWorking: false
      }
    }
  },
  watch: {
    value: {
      handler(newVal) {
        this.innerWork = newVal
      },
      deep: true
    },
    innerWork: {
      handler(newVal) {
        this.$emit('input', newVal)
      }
    }
  }
}
</script>
